@page
@model Passwordless.AspNetIdentity.Example.Pages.Account.Recovery

@{
    ViewData["Title"] = "Account Recovery";
}
<h1>@ViewData["Title"]</h1>

<p>
If a user loses their passkey, they can request a manually generated verification token and a "magic link" can be created 
to authenticate them.  They can then add a new credential in order to log back in safely. To send a magic link, enter your email
and a "magic link" will be sent to the provided address if they are indeed a user.
</p>

<form method="POST">
    <label asp-for="Form.Email">Email: </label>
    <input asp-for="Form.Email" type="email" id="email" placeholder="janedoe@example.org"/>
    <span class="text-danger" asp-validation-for="Form.Email"></span>
    <button type="submit" class="btn-primary">Send</button>
</form>