@page
@model Passwordless.AspNetIdentity.Example.Pages.Authorized.ElevatedAuthentication

@{
    ViewData["Title"] = "Elevated Auth";
}
<h1>@ViewData["Title"]</h1>

<p>You should feel elevated.</p>